<p>Un formatted Date: {{toDate}}</p>
<p> formatted Date: {{toDate|date}}</p>
<p> Medium: {{toDate|date:'medium'}}</p>
<p> Short: {{toDate|date:'short'}}</p>
<p> Full Date: {{toDate|date:'fullDate'}}</p>
<p> Long Date: {{toDate|date:'longDate'}}</p>

<hr>
<p>Original: {{message}}</p>
<p>Upper Case: {{message|uppercase}}</p>
<p>lopwer Case: {{message|lowercase}}</p>

<hr>
<p>Original: {{message}}</p>
<p>Example 1 : {{message|slice:11:28}}</p>
<p>Example 2 : {{message|slice:-7}}</p>
<p>Example 3 : {{message|slice:0:7}}</p>

<hr>
<p>Price Without Formatting: {{price}}</p>
<p>Price With Formatting: {{price|currency:'LKR'}}</p>